@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans");
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: Quattrocento Sans, Arial, sans-serif;
  /*display: flex;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xirilab {
  max-width: 1046px;
  margin: auto;
}

.xirilab .step {
  opacity: 0;
  transition: opacity .25s;
}

.xirilab .step.active {
  opacity: 1;
}

.base img,
.glitter-switch img {
  max-width: 100%;
}

.base, .glitter-switch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin:10px 0;
  grid-column-gap: 20px;
  transition: all 0.5s
}

.base:hover,
.glitter-switch:hover {
  padding: 10px;
  background-color: rgb(249, 249, 255);
}
.base.active,
.glitter-switch.active {
  padding: 10px;
  background-color: rgb(232, 232, 232);
}

.formas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin:5px 0;
  grid-gap: 20px;
  transition: all 0.5s
}

.formas div {
  text-align: center;
  position: relative;
  padding: 5px;
  transition: background-color 0.25s
}

.formas div img {
  display: block;
  margin: 0px auto;
}

.formas div.active,
.formas div:hover,
.aroma.active,
.aroma:hover {
  padding: 3px;
  background-color: rgb(232, 232, 232);
}

.formas div:after { /* ADDED */
  content: '';
  position: absolute;
  border-left: 1px solid #e71773;
  right: -10px; /* adjust this */
  height: 80px; /* adjust this */
  top: 10px
}

.formas div:last-child:after,
.formas div:nth-child(4n):after { /* ADDED */
  display: none; /* Hide the divider for the last block */
}

.aromas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin:5px 0;
  grid-gap: 20px;
  transition: all 0.5s
}

.aromas img {
  max-width: 100%;
  border-radius: 5px;
}

.aromas p {
  text-align: center;
  margin: 0;
}

.ponle-nombre {
  background-color: rgb(239,239,239);
  border: solid 1px gray;
  font-size:1.5em;
  padding: 10px;
  width: 100%;
}

h2, h3 {
  color:#e71773;
}